.container {
  display: inline-block;
  box-sizing: border-box;
  width: 7em;
  height: 7em;
  border: 1px solid #aaaaaa;
  position: relative;

  .number {
    position: absolute;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2;
    z-index: 2000;
    top: -0.5em;
    right: -0.5em;
    background: blue;
    color: #ffffff;
    border-radius: 50%;
    user-select: none;
  }

  .number.previous {
    background: #777777;
  }

  .measures {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    text-align: center;

    .measure {
      color: blue;
      user-select: none;
    }

    .measure.measureExceed {
      color: red;
    }

    .measure:first-child {
      font-weight: 700;
      font-size: 1.4em;
    }
  }
}
